@keyframes fadeIn {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

.loading-text {
    color: white;
    font-family: Arial, sans-serif;
    margin-top: 15px;
    font-size: 18px;
    animation: fadeIn 2s ease alternate;
}

body {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#nav-bar {
    /* background-color: gray; */
    margin: 13px;
    width: 70%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
}

h1 {
    color: rgba(255, 48, 82, 0.733);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin: 10px;
    cursor: default;
}

h2 {
    font-size: 1.3rem;
    margin: 0px;
}

ul,li {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.911);
    display: flex;
    list-style-type: none;
    margin: 10px;
    font-size: 15px;
}

li:hover {
    color: rgb(255, 48, 82);

    transition: color .3s ease-in;
}

li:active {
    color: white;
}

a {
    text-decoration: none;
}

.current {
    text-decoration: underline 5px solid rgba(255, 48, 82, 0.651);
}

#main-div {
    width: 70%;
    height: 400px;
    position: absolute;
    top: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #main-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: relative;
    top: 0;
    left: 0;
} */

.sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 15px;;
    background-color: rgba(128, 128, 128, 0.274);
    height: 100%;
    width: 100%;
    margin: 20px;
    backdrop-filter: blur(25px);
    text-align: center;
    cursor: default;
}

.sections:hover {
    margin-top: -20px;

    transition: margin-top .5s ease-in-out;
}

.icons {
    margin: 20px;
    width: 100px;
}

p {
    color:  rgba(255, 255, 255, 0.74);
    font-size: .8rem;
}

button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-left: 10px;
    width: 200px;
    height: 40px;
    background-color: crimson;
    border: none;
    border-radius: 26px;
}

button:active {
    scale: 1.2;

    transition: scale .1s ease;
}

